.main__content {
  &-big-img {
    width: 100%;
    margin-bottom: 45px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 45px;
  }

  .img__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 132px;
  }
}
