footer {
    width: 100%;
    min-height: 15vh;
    background-color: rgb(164, 90, 53);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__cont {
    min-height: 20vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
        margin: 0 !important;
        color: rgb(0, 0, 0);
        padding-left: 2rem;
    }

    &-logo-link {
        text-decoration: none;
        flex-grow: 0.5;
        transition: all ease-in-out 0.3s;
    }

    &-logo-link:hover {
        color: #fff;
    }

    &-links {
        min-height: 10vh;
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        flex-grow: 1;
        margin: 0;
        text-align: center;

    }

    &-social {
        display: flex;
        justify-content: space-evenly;
        min-width: 8vw;
        list-style: none;
        padding: 0;
        flex-grow: 0.5;
        align-items: center;

        a {
             img {
                 max-height: 40px;
                 max-width: 40px;
             }
        }
    }
}

@include phone {
    footer {
        min-height: 25vh;
    }

    .footer__cont {

        &-logo {
            font-size: 16px;
        }
    }
}