
.home__content {
    min-height: 50vh;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    border-radius: 3px;
    margin-bottom: 10vh;

    &-inner {
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
        width: 60%;
        min-width: 450px;


        &-hello {
            display: flex;
            flex-direction: column;
            height: 100%;

            img {
                width: 13rem;
                border-radius: 3px;
                box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
                margin-bottom: 2rem;
            }

            &-text {
                min-height: 15vh;
                max-width: 14vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                border-radius: 4px;
                font-family: 'Montserrat', sans-serif;
                line-height: 1.5rem;
                color: #fff;
                align-self: flex-start;

                &-typewriter {
                    margin-top: 1rem;
                    }

                h1 {
                    font-size: 1.4rem;
                }
}
}

        &-list {

        h1 {
            font-size: 1.6rem;
            color: #fff;
            margin-top: 0;

        }

        ul {
            display: flex;
            flex-direction: column;
            min-width: 20%;
            min-height: 40vh;
            padding: 0;

            #tech {
                display: none;
            }
    
            #show {
                display: inline block;
                color: #fff;
                transition: all ease-in-out 0.5s;
                animation: fadeIn 5s;
                font-size: 1.2rem;
                list-style: none;
                color: $mainColor;
                font-family: 'Chakra Petch', sans-serif;
            }
        }
    }
    
        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
            }
    }

}

@include phone {
    .home__content {
        width: 70%;

        &-inner {
            width: 100%;
            min-width: 210px;


            &-hello {
                width: 60%;

                img {
                width: 25vw;
                }

                &-text {
                    max-width: 24vw;
                    line-height: 1rem;

                    h1 {
                        font-size: 0.8rem;
                    }
    }
}

            &-list {
                h1 {
                    font-size: 1rem;
                }

                ul {

                #show {
                    font-size: 0.8rem;
                }
            }
        }
        }
    }
}