
.home__content {
    min-height: 70vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    border-radius: 3px;
    margin-bottom: 10vh;

    &-inner {
        display: flex;
        align-items: center;
        width: 80%;

        ul {
            min-width: 20%;
            min-height: 30vh;

            #tech {
                display: none;
            }
    
            #show {
                display: inline block;
                color: #fff;
                transition: all ease-in-out 0.5s;
                animation: fadeIn 5s;
                font-size: 1.9rem;
                list-style: none;
                color: $mainColor;
                font-family: 'Chakra Petch', sans-serif;
            }
        }
    
        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
            }
    }

    img {
            width: 14rem;
            border-radius: 3px;
            box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
    }

    &-text {
            min-height: 15vh;
            width: 77%;
            background-color: rgb(141, 153, 155);
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: 4px;
            box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
            font-family: 'Montserrat', sans-serif;
            line-height: 3rem;

        &-typewriter {
            margin-top: 1rem;
        }
    }
}

@include phone {
    .home__content {
        padding-top: 2rem;
        min-height: 30vh;
        flex-direction: column;
        img {
            max-width: 50%;
            box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
        }

        &-text {
            min-height: 10vh;
            min-width: 85%;
            background-color: rgb(141, 153, 155);
            padding: 0.1rem;
            border-radius: 4px;
            box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
            font-size: 0.4rem;
            line-height: 1rem;
        }

        ul {
            margin-top: 5vh;
            min-height: 20vh;
            min-width: 40%;
            list-style: none;

            #show {
                margin-bottom: 2px;
                font-size: 1rem;
            }
        }
    }
}