.home__content {
    min-height: 80vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 60%;
    }

    &-text {
        width: 50%;
    }
}