.projects-background {
    min-height: 150vh;
}

.projects__header-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectsPage__cont {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(26, 25, 25);
}