.projects-background {
    min-height: 150vh;
}

.projects__header-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectsPage__cont {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-cards {
        max-width: 100%;

        .projectCard {
            width: 100%;
            box-shadow: rgba(59, 59, 59, 0.604) 0px -3px 8px;
            margin-bottom: 5rem;


            img {
                max-width: 100%;
                height: 100%;
            }
        }
    }
}